Fighting/.vscode/*
Fighting/Library/metadata
Fighting/Library/ScriptAssemblies
Fighting/Library/assetDatabase*
Fighting/Library/AssetImportState
Fighting/Library/*.dwlt
Fighting/Library/EditorInstance.json
Fighting/Library/expandedItems
Fighting/Library/LastSceneManagerSetup.txt
Fighting/Library/shader*
Fighting/Library/Shader*
Fighting/Temp/
Fighting/obj/
